.header {
  padding: 15px 16px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: $pink;
  background-color: $white;
  border-bottom: 1px solid $black;
  z-index: 10;

  &-title {
    position: relative;

  }
}

.search-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: $mobile-size) {
    justify-content: center;
  }
}

.input-wrap {
  position: relative;

  .search {
    width: 330px;
    font-family: $font-basic;
    font-size: 16px;
    letter-spacing: 0.02em;
    border-radius: 2px;
    border: 1px solid $black;
    color: $blue;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: $font-primary;
      color: $gray;
    }

    @media screen and (max-width: $tablet-size) {
      .search {
        width: 150px;
      }
    }

    @media screen and (max-width: $mobile-size) {
      .search {
        font-size: 12px;
      }
    }
  }
}

.btn-search {
  position: absolute;
  right: -8px;
  top: 3px;
  background-color: $blue;
  width: 15px;
  height: 15px;
  padding: 2px 2px 2px 3px;
  border-radius: 50%;
  margin-left: -10px;
  background-color: $pink;
  transition: all 0.3s ease-in-out;

}

.header-title {
  font-size: 60px;
  font-weight: bold;
  padding-top: 12px;

  @media screen and (max-width: $mobile-size) {
    font-size: 40px;
    margin-top: 10px;
    padding: 0;
  }
}

.btn-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  width: 200px;
  transition: all 0.3s ease-in-out;


  button {
    width: 122px;
    padding: 2px 30px;
  }

  .btn-right {
    margin-left: 46px;
  }

  @media screen and (max-width: $tablet-size) {
    width: fit-content;

    .btn-right {
      margin-left: 20px;
    }

    button {
      width: 90px;
      padding: 0;
    }
  }

  @media screen and (max-width: $mobile-size) {
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .btn-right {
      margin-left: 0;
    }
  }
}

.mobile-menu-btn {
  position: absolute;
  top: 20px;
  right: 12px;
}

.mobile-header-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn {
  margin-left: -12px;
}