.header {
  padding: 15px 16px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: $black;
  background-color: $white;
  border-bottom: 0.5px solid $light-gray;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  min-width: 360px;
}

.header-title {
  font-size: 30px;
  font-weight: 900;
  display: block;
  color: $black;
  margin-top: 2px;
}

.btn-wrap {
  height: 42px;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  transition: all 0.2s ease-in;

  @media screen and (max-width: $mobile-size) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .btn-right {
      margin-left: 0;
    }
  }
}

.mobile-menu-btn {
  position: absolute;
  top: 20px;
  right: 12px;
}

.mobile-header-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn {
  margin-left: -12px;
}
