.page-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  min-width: 350px;
  font-size: 30px;
  color: $black;

  @media screen and (max-width: $mobile-size) {
    padding-bottom: 20px;
  }
}

.cart-container {
  width: 100%;
  max-width: 800px;
  min-width: 350px;
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-items-wrap {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border: 1px solid $gray;

  .text {
    font-size: 13px;
    color: $gray;
  }
}

.del-btn {
  font-size: 12px;
  background-color: $black;
  padding: 8px 12px;
  border-radius: 2px;
  color: $white;
  align-self: flex-end;
  border-radius: 2px;

  &:disabled {
    background-color: $light-gray;
    cursor: not-allowed;
  }

  &.isPending {
    cursor: progress;
  }
}

.btn-order-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
