.button {
  display: flex;
  justify-content: center;
  align-items: center;

  &.s {
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    color: $black;
    text-align: center;
    padding: 4px 0;
  }

  &.m {
    padding: 12px 36px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: $black;

    &:hover {
      opacity: 0.9;
    }
  }

  &.l {
    padding: 8px 36px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: $black;
  }

  &.pink {
    background-color: $pink;
    color: $white;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
    color: $white;
  }

  &.blue {
    background-color: $blue;
    color: $white;
  }

  &.outline {
    background-color: $white;
    color: $black;
    border: 1px solid $gray;

    &:hover {
      filter: drop-shadow(0 0 2px rgb(0 0 0 / 20%));
    }

    &.active {
      color: $white;
      background-color: $black;
    }

    &:disabled {
      &:hover {
        filter: none;
      }
    }
  }

  &.black {
    background-color: $black;
    color: $white;
  }

  &:disabled {
    background-color: $gray;
    color: $white;
    cursor: not-allowed;

    &:hover {
      opacity: 100%;
    }
  }

  &:hover {
    opacity: 0.89;
  }
}
