.button {
  // transition: all 0.2s ease-out;

  &.s {
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    color: $black;
    text-align: center;
    padding-top: 4px;
  }

  &.m {
    padding: 12px 36px 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    color: $black;

    &:hover {
      opacity: 0.9;
    }
  }

  &.l {
    padding: 8px 36px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-family: $font-basic;
    color: $black;
  }

  &.pink {
    background-color: $pink;
    color: $white;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
    color: $white;
  }

  &.blue {
    background-color: $blue;
    color: $white;
  }

  &.outline {
    background-color: $white;
    color: $black;
    border: 1px solid $gray;

    &:hover {
      filter: drop-shadow(0 0 2px rgb(0 0 0 / 20%));
    }

    &.active {
      color: $white;
      background-color: $black;
    }
  }

  &.black {
    background-color: $black;
    color: $white;
  }

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.89;
  }
}
