.button {
  &.s {
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    color: $black;
    text-align: center;
    padding-top: 4px;

    &:hover {
      transform: rotate(3deg);
    }
  }

  &.m {
    padding: 8px 36px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-family: $font-basic;
    font-weight: bold;
    color: $black;

    &:hover {
      opacity: 0.9;
    }
  }

  &.l {
    padding: 8px 36px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-family: $font-basic;
    font-weight: bold;
    color: $black;
  }

  &.pink {
    background-color: $pink;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
  }

  &.blue {
    background-color: $blue;
  }

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }
}
