.page-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  color: $black;

  @media screen and (max-width: $mobile-size) {
    padding-bottom: 20px;
  }
}

.cart-container {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $mobile-size) {
    min-width: 300px;
    width: 80%;
  }
}

.item-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-items-wrap {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border: 1px solid $gray;

  .text {
    font-size: 13px;
    color: $gray;
  }
}

.del-btn {
  font-size: 12px;
  background-color: $black;
  padding: 8px 12px;
  border-radius: 2px;
  color: $white;
  align-self: flex-end;
  border-radius: 2px;
}