.count {
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    min-width: 120px;
    border: 1px solid $gray;
    border-radius: 2px;

    button {
      padding: 9px 9px 4px;
      width: calc(100% / 3);

      &:first-child {
        border-right: 1px solid $gray;
      }

      &:last-child {
        border-left: 1px solid $gray;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: $light-gray;
      }
    }
  }

  &-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-text {
    width: calc(100% / 3);
    font-size: 14px;
    margin-top: 5px;
    padding: 0 10px;
    text-align: center;
  }
}