@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horizon {
  display: flex;
  justify-content: center;
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
