//font
$font-basic: 'Open Sans';
$font-primary: 'Noto Sans KR';

//weight
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

//device size
$mobile-size: 768px;
$tablet-size: 1024px;

//color
$white: #ffffff;
$black: #202020;

$blue: #0055ff;
$yellow: #fecc19;
$pink: #fd4eff;
$green: #1feb71;

$gray: #8b8b8b;
$light-gray: #e2e2e2;
$dark-gray: #282828;
$skeleton-gray: #c9c8c8;
