.item-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $yellow;
    padding: 30px 14px;

    gap: 20px;

    @media screen and (max-width: $mobile-size) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.info-wrap {
    display: flex;
    gap: 26px;

}

.detail {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-info-wrap {
        .store {
            font-size: 12px;
            color: $gray
        }

        .info-title {
            font-size: 18px;
            line-height: 1.2;
            margin-bottom: 4px;
        }

        .info-price {
            font-size: 16px;
        }

    }
}


.shipping-fee {
    font-size: 12px;
    color: $gray;
}

.item-4th-wrap {
    display: flex;
    align-items: center;
    gap: 10px;

    >span {
        color: $gray;
    }

    @media screen and (max-width: $mobile-size) {
        align-self: flex-end;
    }

}

.item-total-price {
    color: $pink;
    font-size: 20px;
    font-weight: 700;
}

.del-item-btn {
    padding: 10px;
    border-left: 1px solid $yellow;
    border-bottom: 1px solid $yellow;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 4px;
}

.modal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 150px;

    >span {
        font-size: 12px;
        text-align: center;
        color: $pink
    }
}