.footer {
  border-top: 0.5px solid $light-gray;
  background-color: transparent;
  padding: 20px 16px;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  a {
    color: $black;
  }

  .info-wrap {
    margin-top: 20px;
    margin-right: 5%;
  }

  .info-title {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
  }

  .info-desc {
    a {
      color: $gray;
      font-size: 12px;
      line-height: 1.4;
    }
    margin-bottom: 2px;
  }
}

.copyright {
  font-size: 10px;
}
